body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.header {
  background-image: url(img/header-img.jpg);
  height: 550px;
  width: 100%;
  opacity: 0.8;
}

.top-nav-container {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 99;
}

.top-nav-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
}

.display-inline-block {
  display: inline-block;
}

#nav-logo-img {
  width: 150px;
  height: 100%;
}

.nav-logo-container {
  padding-top: 30px;
  float: left;
  margin-right: 30px;
}

.nav-links {
  padding-top: 35px;
}

.nav-links a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}  

.down-arrow {
  font-size: 13px;
  padding-left: 3px;
}

.apply-now-btn {
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
  border-width: 0;
  background-color: #0097e3;
  font-size: 15px;
  color: #ffffff;
}

.header-text {
  padding-top: 180px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center; 
}

.main-text {
  font-size: 35px;
}

.sub-text {
  font-size: 20px;
}

.header-btn {
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
  border-width: 0;
  background-color: #0097e3;
  font-size: 15px;
  color: #ffffff;
}

.learn-free-btn {
  width: 270px;
  margin-left: 20px;
}

.who-we-are-btn {
  width: 270px;
  margin-left: 20px;
  background-color: #887773;
  border: 1px solid white;
}

.who-we-are-btn:hover {
  color: black;
  background-color: white;
}

#who-we-are-icon {
  padding-left: 5px;
  border-radius: 50%;
  border: 1px solid white;
  padding-right: 3px;
  padding-bottom: 3px;
  margin-left: 12px;
}

.main-text2 {
  padding-top: 30px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center; 
  color: black;
}

.description {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    text-align: justify;
    line-height: 1.5;
}

.gallery {
  width: 33.3333%;
  display: inline-block;
  float: left;
}

#gallery-section {
  padding-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 100px;
}

.gallery-head {
    height: 60px;
    font-size: 22px;
    color: white;
}

.gallery-head1 {
  background-color:#de7c01;
  text-align: right;
  padding-right: 45px;
}

.gallery-head2 {
  background-color:#0090d9;
  text-align: center;
}

.gallery-head3 {
  background-color:#00b298;
  text-align: left;
   padding-left: 45px;
}

.gallery-img {
    height: 170px; 
    opacity: 0.8;
}

.gallery-img1 {
  background-image: url(img/gallery-img1.jpg);
}

.gallery-img2 {
  background-image: url(img/gallery-img2.jpg);
}

.gallery-img3 {
  background-image: url(img/gallery-img3.jpg);
}

.gallery-desc {
  padding-top: 40px;
  color: white;
  padding-bottom: 40px;
  font-size: 18px;
}

.gallery-desc1 {
  background-color: #de7c01;
  text-align: right;
  padding-right: 45px;
}

.gallery-desc2 {
  background-color: #0090d9;
  text-align: center;
}

.gallery-desc3 {
  background-color: #00b298;
  text-align: left;
  padding-left: 45px;
}

.gallery-btn {
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
  border-width: 0;
  font-size: 15px;
  color: #ffffff;
  background-color: #887773;
  border: 1px solid white;
  margin-top: 20px;
}

.gallery-btn:hover {
  color: black;
  background-color: white;
}

.subscription {
  height: 250px;
  background-color:#423e3e;
}

.subscription-text {
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  margin-top: 300px;
  color: white;
  font-weight: normal;
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.subscription-container {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

.syllabus-btn {
  padding: 11px 30px;
  border-radius: 3px;
  cursor: pointer;
  border-width: 0;
  background-color: #de7c01;
  font-size: 15px;
  color: #ffffff;
}
